.card-detail-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%; /* Asegura que ocupa el 100% del ancho de la pantalla */
}

.content-container {
  display: flex;
  margin-top: 5%;
  padding: 20px;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center;
  height: 25%;
  width: 100%; /* Asegura que ocupa el 100% del ancho de la pantalla */
}

.content-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: -1;
}

.left-column {
  flex: 1;
  width: 30%;
}

.left-column img {
  width: 100%;
  height: auto;
  max-width: 150px;
  display: block;
  margin-bottom: 10px;
}

.right-column {
  flex: 1;
  padding: 20px;
  color: white;
}

.right-column h1,
.right-column h3 {
  margin: 0;
}

.image-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.image-box img {
  width: 50px;
  height: auto;
  margin-right: 5px;
}
